.gitignore
data/
public/scripts/common
public/scripts/script.js
api/
components/
public/scripts/likes.js
node_modules/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
