:root {
  /* Colour */
  --color-black: black;
  --color-white: white;
  --color-red: red;
  --color-bg: #f6f6f6;
  --color-grey: ; #efefef;
  --color-text: #22243b;
  --color-blue: #0e5dde;
  --color-purple: #5149ce;
  --color-accent:  rgb(78,75,208);
  --color-gradient: linear-gradient(0deg, rgba(78,75,208,1) 12%, rgba(9,97,238,1) 88%);

  /* Shadow */
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* Size */
  --side-padding: 0.8em;
  --avatar-size: 2.25em;
  
  /* Font */
  --font-large: 1.25rem;
  --font-medium: 1rem;
  --font-small: 0.75rem;
  --font-micro: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* inc padding and margin */
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(242,243,245,1) 0%, rgba(209,213,220,1) 100%);
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상 상속 */
}

button {
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}

textarea {
  resize: vertical;
}

label {
  font-size: 12px;
  font-weight: 350;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}

.back-button, .header-title, .header-profile-image {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.back-icon {
  font-size: 1.75rem;
}

.back-icon:hover {
  filter: brightness(150%);
}

.header-title:hover {
  cursor: pointer;
}

.header-title {
  font-size: var(--font-large);
  font-weight: 500;
  color: #333;
}

.back-button {
  margin: auto 0;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 250;
  max-width: 36px;
  max-height: 36px;
}

.header-profile-image {
  display: flex;
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}

.dropdown {
  position: absolute;
  display: none;
  right: 10px;
  top: 45px;
  width: 100px;
  border-radius: 4px;
  background: var(--color-gradient);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
}

.dropdown li {
  list-style: none; /* 불릿 제거 */
  padding: 10px;
  font-size: 0.8rem;
  color: var(--color-white);
  cursor: pointer;
  text-align: center;
}

.dropdown li:hover {
  background: var(--color-gradient);
  filter: brightness(150%);
}

.dropdown.open {
  display:block;
}

/* Buttons */
.login-button, .submit-button {
  width: 100%;
  padding: 10px;
  color: white;
  background: var(--color-gradient);
  border: none;
}

/* .login-button:hover, .signup-button:hover {
  background-color: #6666ff;
} */

.login-button:disabled, submit-button:disabled {
  background: var(--color-gradient);
  filter: brightness(-100%)
}

.complete-button {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px;
  color: white;
  background: var(--color-gradient);
  border: none;
  border-radius: 2em;
}

.link, #registerBtn {
  display: inline-block;
  background: none;
  border: none;

  padding: 10px;
  font-size: 10px;

  cursor: pointer;
  color: #333;
}

/* Forms */
.form-container {
  display: block;
  margin: 2rem auto;
  padding: 1.5em var(--side-padding);
  border-radius: 4px;
  background: white;
  text-align: center;
  width: 300px;
  font-size: 12px;
  box-shadow: var(--shadow);
}

.form-title {
  font-size: var(--font-medium);
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: var(--font-small);
  color: var(--color-text);
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: var(--font-small);
  border: 1px solid var(--color-grey);
  border-radius: 4px;
}

.helper-text {
  font-size: 10px;
  color: var(--color-red);
  margin-top: 5px;
  text-align: left;
  display: none; /* 기본적으로 숨김 */
}

input:focus + .helper-text,
textarea:focus + .helper-text {
  display: block; /* 입력 중일 때 표시 */
  color: var(--color-red);
}

/* Modals */
.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-overlay.show {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  padding: var(--side-padding);
  border-radius: 8px;
  text-align: center;
  max-width: 15rem;
  max-height: 11rem;
  box-shadow: var(--shadow);
}

#modal-message {
  font-size: var(--font-mediium);
  color: var(--color-text);
  font-weight: 600;
  margin: 0.5em;
}

#modal-sub-message {
  font-size: var(--font-small);
  color: var(--color-text);
  filter: brightness(100%);
  margin: 0 1em 2em 1em;
}

.modal-buttons {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.modal-cancel-button, .modal-confirm-button {
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: all 250ms ease;
}

.modal-cancel-button {
  background-color: var(--color-black);
  color: var(--color-white);
}

.modal-confirm-button {
  background: var(--color-gradient);
  color: var(--color-white);
}

.modal-cancel-button:hover {
  background: var(--color-black);
  filter: brightness(50%);
  color: var(--color-white);
}

.modal-confirm-button:hover {
  background: var(--color-gradient);
  filter: brightness(50%);
}

/* Toast messages */
.toast-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 2s ease forwards;
}

/* Icons */
.back-icon, .view-icon, .comment-icon, .like-icon, .dislike-icon {
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}