hr {
  display: block;
  width: 500px;
  height: 1px;
  border: none;
  background-color: var(--color-grey);
}

.post-detail {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.post-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4em 0;
  padding: 0;
}

.post-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin-right: auto;
  font-size: var(--font-medium);
  color: var(--color-text);
  margin-bottom: 10px;
}

.post-meta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* 교차 축 정렬 */
  align-content: center;
  gap: 10px;
}

.post-user, .comment-user {
  display: flex;
  align-items: center;
  max-width: fit-content;
  font-size: var(--font-small);
  font-weight: 500;
  color: var(--color-text);
  gap: 10px;
}

.profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin-right: 8px;
  object-fit: cover
}

.user-img {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  object-fit: cover
}

/* Dates */
.post-date, .comment-date {
  max-width: fit-content;
  font-size: var(--font-small);
  font-weight: 300;
  line-height: 18.2px;
  margin-right: 1rem;
}

.post-buttons, .comment-buttons {
  display: flex;
  margin-left: auto;
}

/* Buttons */
.edit-post-button, .delete-post-button, .edit-comment-button, .delete-comment-button {
  padding: 3px 12px;
  font-weight: 400;
  border-radius: 0.5em;
  background-color: transparent;
  border: none;
}

/* Icons */
.like-icon, .dislike-icon, .comment-icon, .view-icon {
  margin-bottom: 0.5rem;
  font-size: 1rem; 
}

.edit-icon, .delete-icon, .like-icon, .dislike-icon {
  font-size: 1rem; 
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 250ms ease;
}

.edit-icon:hover, .delete-icon:hover,  .dislike-icon:hover {
  transform: rotate(30deg);
}

.like-icon:hover {
  transform: rotate(-30deg);
}

/* Post */
.post-text .img-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.post-image {
  display: none;
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
}

.post-content {
  width: 100%;
  text-align: left;
  font-size: var(--font-small);
  line-height: 1.6;
  margin: 0 auto;
  color: var(--color-text);
}

.post-content, .comment-content {
  white-space: pre-line;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

/* Post metadata */
.post-stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  gap: 10px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: 10px 20px;
  border-radius: 8px;
}

.stat-item span {
  font-size: 12px;
  color: var(--color-text);
}

#like-button, .dislike-button {
  cursor: pointer;
}

#like-button.liked {
  font-weight: bold;
}

/* Comments */
.comment-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  background-color: var(--color-white);
  width: 500px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  padding: 16px;
  border: transparent;
  resize: none;
  margin-bottom: 12px;
  color: var(--color-text);
  font-weight: 400;
}

.comment-button {
  margin: 0 10px 10px auto;
  width: 20%;
  padding: 10px;
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  right: 0;
  bottom: 3px;
  background: var(--color-gradient);
}

.comment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.comment-list {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
  gap: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px;
  border-top: 1px solid var(--color-grey);
}

.comment-header {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: var(--font-small);
  color: var(--color-text);
}

.comment-content {
  margin: 0;
  display: flex;
  padding-left: 45px;
  font-size: var(--font-small);
  line-height: 1.6;
  text-align: left;
}

.comment-item {
  border-bottom: 1px solid var(--color-grey);
  width: 620px;
  margin: 0 auto;
}